.pagination {
  padding: 7px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--border-grey);
  border-radius: 8px;

  &-item {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    flex-shrink: 0;

    &:hover {
      background-color: var(--bg-grey);
    }

    &.is-active {
      background-color: var(--primary);
      color: var(--white);
    }
  }
}