:root {

  // Colors
  --black: #232124;
  --border: #EAECF1;
  --primary: #6D54FE;
  --primary-hover: #765FFF;
  --primary-pressed: #6954E4;
  --white: #FFF;
  --dark: #232124;
  --grey: #787486;
  --bg-grey: #F5F5F6;
  --bg-dark: #040438;
  --border-grey: #EAECF1;
  --border-primary: #6D54FE;
  --yellow: #F8C52F;
  --green: #68D258;
  --red: #FF4D50;
  --orange: #FF6C4E;
  --violet: #D46CF9;
  --blue: #35C2E2;
  --pink: #FE6389;
  --grey-1: #DADCE4;
  --grey-2: #E9ECF6;
  --grey-3: #B4B7C7;
  --grey-4: #E3E7F4;
}